@media (max-width: 768px){
    .header{
        &__top{
            &-inner{
                align-items: center;
            }
        }
        &__title{
            font-size: 50px;
            line-height: 65px;
            margin-bottom: 10px;
        }
        &__subtitle{
            font-size: 14px;
            line-height: 16px;
        }
        &__btn{
            display: block;
        }
    }
    .menu{
        &__btn{
            display: block;
            background-color: transparent;
            border: none;
            padding: 0;
            margin-top: 1rem;
        }
        & &__list{
            padding: 15px 0;
        }
        &__list{
            position: absolute;
            left: 0;
            right: 0;
            top: 70px;
            background-color: #000;
            display: block;
            text-align: center;
            transform: translateY(-200%);
            transition: all .5s;
            &.menu__list--active{
                transform: translateY(0);
            }
            &-item + &-item{
                margin-left: 0px;
            }
            &-link{
                display: block;
                padding: 15px 0px;
                color: #fff;
            }
        }
    }
}
@media (max-width: 440px){
    .header{
        &__title{
            font-size: 36px;
            line-height: 44px;
        }
        &__subtitle{
            font-size: 12px;
            line-height: 14px;
        }
    }
}

