@media (max-width: 768px){
    .header{
        &__title{
            font-size: 50px;
            line-height: 65px;
            margin-bottom: 10px;
        }
        &__subtitle{
            font-size: 14px;
            line-height: 16px;
        }
    }
    .menu{
        display: none;
    }
}
@media (max-width: 440px){
    .header{
        &__title{
            font-size: 36px;
            line-height: 44px;
        }
        &__subtitle{
            font-size: 12px;
            line-height: 14px;
        }
    }
}

