$primaryText: #373a39;
$white: #fff;
$primary:#FCBB08;
$bg: #F6F8FA;
$title: #242121;
$author:#9E9E9E;
$numText: #333;
$modal: #4C4A4A;
$holder: #b8b8b8;                                                       