@import "myReset";
@import "var";
@import "global";
@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css";
@import "../../node_modules/slick-carousel/slick/slick";


.header{
    &__top{
        &-inner{
        padding-bottom: 29px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        }
    }
    &__content{
        font-family: 'Montserrat', sans-serif;
        background-image: url("../images/header-bg.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        &-inner{
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: calc(100vh - 93px);
            justify-content: space-between;
        }
    }
    &__title{
        font-weight: 500;
        font-size: 72px;
        line-height: 88px;
        color: $white;
        margin-top: auto;
        margin-bottom: 19px;
        padding-top: 130px;
    }
    &__subtitle{
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 2.74286px;
        color: $primary;
        margin-bottom: auto;
    }
    &__icon{
        margin-bottom: 82px;
    }
}
.menu{
    &__btn{
        display: none;
    }
    &__list{
        display: flex;
        &-item + &-item{
            margin-left: 32px;
        }
        &-link{
            padding: 0 9px 9px;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: #373a39;;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            &:hover{
                border-bottom: 1px solid $primary;
            }
        }
    }
}
// end header

.about{
    background-color: $bg;
    padding: 150px 0 144px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        font-size: 48px;
    }
    &__text{
        &-p{
            max-width: 770px;
            margin-bottom: 16px;
        }
    }
}
// end about

.expertise{
    padding: 140px 0 160px;
    &__title{
        margin-bottom: 90px;
    }
    &__inner{
        display: flex;
        margin-bottom: 110px;
    }
    &__info{
        width: 370px;
        margin-right: 30px;
        flex: none;
        margin-top: 10px;
        &-item{
            border-top: 2px solid #1d1d1d;
            padding: 2px 0 28px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 11px;
            line-height: 20px;
            letter-spacing: 1px;
            color: #1d1d1d;
            position: relative;
        }
        &-progres{
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            margin-right: 7px;
            &::before{
                content: "";
                position: absolute;
                height: 2px;
                background-color: #f0f0f0;
                right: -7px;
                top: -2px;
                width: 100%;
            }
        }
    }
    &__items{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        width: 370px;
        padding: 0 0 0 85px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
        }
        &--desin{
            background-image: url("../images/desin-ico.svg");
            background-repeat: no-repeat;
        }
        &--dev{
            background-image: url("../images/monitor-ico.svg");
            background-repeat: no-repeat;
        }
        &--marketing{
            background-image: url("../images/speaker-ico.svg");
            background-repeat: no-repeat;
        }
        &-title{
            line-height: 20px;
            letter-spacing: 4.29px;
            color: #333;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 14px;
        }
        &-text{
            color: #777;
        }
    }
    &__text{
        &-p{
            margin-bottom: 25px;
        }
    }
}
// endexpertise

.magic{
    background-color: $bg;
    background-image: url("../images/magic-dog.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left 71%;

    &__inner{
        max-width: 470px;
        margin-left: auto;
        padding: 100px 0 190px;
    }
    &__title{
        font-size: 67px;
    }
    &__text{
        &-p{
            margin-bottom: 25px;
        }
    }
}
//end magic

.portfolio{
    padding: 140px 0 165px;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }
    &__filter-btn{
        margin-right: 65px;
    }
    &__btn{
        background-color: transparent;
        border: none;
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 2px;
        color: $numText;
        padding: 0 4px 5px;
        outline-color: $primary;
        & + &{
            margin-left: 25px;
        }
    }
    &__content{
        column-count: 4;
        column-gap: 22px;
        margin-bottom: 72px;
    }
    &__item{
        margin-top: 22px;
        position: relative;
        &:first-child{
            margin-top: 0;
        }
        &:hover .portfolio__item-link{
            opacity: 1;
        }
        &-link{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            color: $white;
            background-color: $modal;
            border: 12px solid #A09F9F;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: all .3s;
        }
        &-img{
            width: 100%;
        }
    }
    &__add{
        font-family: 'Montserrat', sans-serif;
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1.2px;
        color: $title;
        text-align: center;
        text-transform: uppercase;
        padding: 42px 15px 41px;
        background-color: $bg;
        margin-bottom: 130px;
    }
    &__blockquote{
        font-family: 'Merriweather', serif;
        color: $title;
        max-width: 650px;
        margin: 0 auto 148px;
        text-align: center;
        font-style: italic;
        font-weight: 300;
        font-size: 18px;
        line-height: 36px;
        &-author{
            display: block;
            color: $author;
            font-size: 14px;
            line-height: 32px;
            padding-top: 51px;
        }
    }
    &__video{
        background-image: url("../images/portfolio-video-bg.jpg");
        height: 324px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 165px;
    }
    &__numbers{
        display: flex;
        justify-content: space-around;
        &-item{
            font-family: 'Montserrat', sans-serif;
            color: $title;
            text-align: center;
            font-weight: 700;
            font-size: 60px;
            line-height: 73px;
            margin-bottom: 9px;
        }
        &-text{
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: $numText;
        }
    }
}
.mixitup-control-active{
    border-bottom: 1px solid $primary;
}

//end portfolio

.slider-blog{
    background-color: $bg;
    padding: 115px 0;
    &__item{
        padding: 190px 0;
        &-title{
            font-weight: 700;
            font-size: 36px;
            line-height: 52px;
            color:$title;
            margin-bottom: 10px;
            max-width: 675px;
            display: inline-block;
        }
        &-descr{
            max-width: 585px;
        }
    }
    //start slick slider
    & .slick-prev, & .slick-next{
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-150%);
    }
    & .slick-prev{
        left: -95px;
    }
    & .slick-next{
        right: 95px;
    }
    & .slick-dots{
        display: flex;
        & li + li{
            margin-left: 13px;
        }
        & button{
            background-color: $title;
            opacity: 0.4;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            font-size: 0;
            padding: 0;
            border: none;
        }
        .slick-active button{
            opacity: 1;
            width: 10px;
            height: 10px;
            transform: translateY(-2px);
        }
    }
}

//end portfolio

.team{
    padding: 120px 0 130px;
    &__title{
        margin-bottom: 100px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__name{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        padding: 35px 0 12px;
        color: $numText;
    }
    &__position{
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
    }
}
//team end

.pricing{
    background-color: $bg;
    padding: 145px 0 160px;
    &__title{
        margin-bottom: 90px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        & .pricing__item{
            background-color: $white;
            text-align: center;
            padding: 24px 25px 50px;
            width: 370px;
            &-li{
                font-weight: 300;
                font-size: 16px;
                line-height: 22px;
                color: $title;
                margin-bottom: 30px;
            }
            &-name{
                text-align-last: left;
                font-weight: 700;
                margin-bottom: 8px;
            }
            &-num{
                font-size: 80px;
                line-height: 109px;
                margin-bottom: 50px;
            }
            & sup{
                font-size: 40px;
                line-height: 54px;
            }
            &-link{
                font-family: 'Montserrat', sans-serif;
                display: block;
                margin-top: 70px;
                font-weight: 700;
                font-size: 14px;
                color: $title;
                line-height: 24px;
                letter-spacing: 1.2px;
            }
        }
    }
}
//end pricing

.clients{
    padding: 70px 0 95px;
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
//end clients

.conection{
    padding: 145px 0 160px;
    background-image: url("../images/conection-bg.jpg");
    background-repeat: no-repeat;
    background-size: 46%;
    background-position: right  40%;
    &__title{
        margin-bottom: 80px;
    }
    &__form{
        max-width: 569px;
    }
    &__text{
        border: none;
        display: block;
        width: 100%;
        border-bottom: 2px solid $primaryText;
        padding: 16px 0;
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: bold;
        &::placeholder{
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 3.70909px;
            color: $holder;
            text-transform: uppercase;
            font-weight: 300;
        }
        &:focus{
            outline-color: $holder;
        }
    }
    &-textarea{
        min-height: 140px;
        resize: none;
    }
    &__btn{
        font-weight: bold;
        font-size: 11px;
        line-height: 13px;
        color: $white;
        text-transform: uppercase;
        padding: 17px 70px 15px;
        border: none;
        background: $title;
        cursor: pointer;
        margin-top: 40px;
        letter-spacing: 2px;
    }
}
//end conection

.footer{
    &__top{
        padding: 110px 10px 160px;
        background-color: $numText;
        text-align: center;
    }
    &__logo{
        display: inline-block;
        padding: 0 35px 4px;
        border-bottom: 2px solid $primary;
        margin-bottom: 70px;
    }
    &__top &__sicial{
        display: flex;
        justify-content: center;
        margin-bottom: 65px;
        &-list{
            padding: 0 15px;
        }
        &-link{
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 4px;
        }
    }
    &__contact{
        font-size: 14px;
        line-height: 32px;
        color: $white;
        margin-bottom: 60px;
        &-link{
            display: block;
            margin: 10px 0;
            color: $white;
        }
    }
    &__go-top{
        display: inline-block;
    }
    &__copy{
        padding: 40px 10px;
        text-align: center;
        font-size: 12px;
        line-height: 16px;
        color: #ccc;
        background-color: #2a2c2b;
    }
}


@import "@media";
































